@theme {
  /* Color brand */
  --color-primary: #059669;
  --color-secondary: #a7f3d0;

  /* Grayscale */
  --color-darkest: #09090b;
  --color-dark: #18181b;
  --color-gray: #52525b;
  --color-light: #d4d4d8;
  --color-lightest: #fafafa;

  /* Open Graph Aspect Ratio */
  --aspect-og: 1200/628;
}
