@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground: #1f2937; /* text-gray-800 */
  --background: #e5e7eb; /* bg-gray-200 */
  --primary: #3b82f6; /* text-blue-500 */
  --secondary: #f59e0b; /* text-yellow-500 */
  --neutral: #6b7280; /* text-gray-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.scroll-watcher {
  display: none;
}

@supports (animation-timeline: scroll()) {
  .scroll-watcher {
    display: block;
    position: fixed;
    top: 0;
    height: 4px;
    z-index: 1000;
    background-color: #404040;
    width: 100%;
    scale: 0 1;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }

  @keyframes scroll-watcher {
    to {
      scale: 1 1;
    }
  }

  .ProjectCover {
    width: 100%;
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: contain 100px;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }

  .Text {
    opacity: 1;
    animation: text-out linear forwards;
    animation-timeline: view();
    animation-range-start: exit;
    animation-range-end: exit;
  }

  @keyframes text-out {
    to {
      transform: translateY(200px);
      opacity: 0;
    }
  }
}
