@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground: #1f2937; /* text-gray-800 */
  --background: #e5e7eb; /* bg-gray-200 */
  --primary: #3b82f6; /* text-blue-500 */
  --secondary: #f59e0b; /* text-yellow-500 */
  --neutral: #6b7280; /* text-gray-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  @apply max-w-sm mx-auto;
}
